:root {
    --bg-color: #06111c;
    --text-color: #fff;
    --link-color: #f9d364;
    --link-hover: #aade0e;
    --link-active: #09efff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header,
main,
footer {
    padding: 1rem;
    display: flex;
    margin: 0 2rem;
    max-width: 1600px;
}

/* Navigation */
header {
    justify-content: space-between;
}
header h1 {
    font-size: 1.5rem;
}

header > button {
    border: none;
    border-radius: 0.15rem;
    padding: 0.25rem 0.45rem;
    color: #fff;
    background-color: #2f7f97;
}
header > button:hover {
    cursor: pointer;
    background-color: #2795b7;
}

nav.mobileNav {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 92vw;
    background-color: #182735;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0.2rem;
}
nav.mobileNav a {
    font-size: 1.5rem;
    margin: 0.75rem 0;
    padding: 0.25rem 0;
    text-decoration: none;
    color: var(--link-color);
}
nav.mobileNav a:hover {
    color: var(--link-hover);
}
nav.mobileNav a.active {
    color: var(--link-active);
    padding: 2px 0;
}

header nav.nav {
    display: none;
}
@media (min-width: 600px) {
    header > button,
    nav.mobileNav {
        display: none;
    }
    header nav.nav {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
    }
    header nav.nav a {
        text-decoration: none;
        color: var(--link-color);
    }
    header nav.nav a:hover {
        color: var(--link-hover);
    }
    header nav.nav a.active {
        color: var(--link-active);
        padding: 2px 0;
        border-bottom: solid 2px #074652;
    }
    header nav.nav button {
        border: none;
        border-radius: 0.15rem;
        padding: 0.25rem 0.45rem;
        color: #fff;
        background-color: #2f7f97;
    }
    header nav.nav button:hover {
        cursor: pointer;
        background-color: #2795b7;
    }
}

.container {
    width: 100%;
}

.container-image {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-image img {
    margin: 0 auto;
}

@media (min-width: 1000px) {
    .container-image {
        flex-direction: row;
    }
}

/* Contact Form */

.contact-form {
    gap: 1rem;
    width: 98%;
    max-width: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}
.contact-form input,
.contact-form textarea {
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: sans-serif;
}
.contact-form textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}
.contact-form input:focus,
.contact-form textarea:focus {
    outline: solid 2px rebeccapurple;
}
.contact-form button {
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

/* Blog */
.blog-posts {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog-post-single {
    width: 100%;
    min-width: 200px;
    max-width: 350px;
    background-color: #074652;
}
.blog-post-single img {
    object-fit: cover;
    width: 100%;
}
.blog-post-single .date {
    font-size: 0.9rem;
    margin: 1rem 0;
    font-style: italic;
}
.blog-post-single .description {
    margin-bottom: 1rem;
}
/* Single Post */
.blog-post-page {
    display: flex;
    gap: 2rem;
}
.blog-post-page-content h2 {
    font-size: 2.5rem;
}
.blog-post-page-content img.author {
    border-radius: 1rem;
}
.blog-post-page-content .content {
    margin-top: 2rem;
}
